@import url("portfoliostyle1.css");

.left1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.paragraph{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1.5px);
    padding: 25px;
    border-radius: 25px;
}

.prophoto{
    padding: 15px;
}

.right1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1.5px);
    padding: 25px;
    border-radius: 100px;
    font-weight: bold;
}

.download-btn{
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: black;
    border-radius: 70px;
    padding: 25px;
}

.skillstitle{
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1.5px);
    padding: 25px;
    border-radius: 100px;
    
}

@media (max-width: 800px){
    .content{
        flex-direction: column;
        padding: 25px;
    }
    .download-btn{
        text-align: center;
    }
    
    .left1{
        margin: 0px;
    }
}